{:did        "did:web:etzhayyim.com:actor:kasa"
 :handle     "kasa.etzhayyim.com"
 :ipns-key   "kasa-actor"
 :graph-type "com.etzhayyim.kasa.graph"
 :published  "2026-06-28"
 :bundle [["data" "data"]
          ["wire/identity/did.json" "did.json"]
          ["README.md" "README.md"]]}
